{% extends 'article/base.html' %}
{% block title %}
    Главная
{% endblock %}
{% block page_content %}
    <h2>Официальный сайт КСК Батыр</h2>
    <p><strong>Уважаемые собственники!</strong></p>
    <p>В настоящее время некоторыми собственниками нашего дома и их представителями распространяется очередная недостоверная информация относительно деятельности правления ТСЖ «Мясницкая, 24» с целью его дискредитации и смены его руководства.</p>
    <p>Как можно понять из длинного художественного повествования в рассылаемых письмах, претензии сводятся к нескольким вопросам:<br /><br />
    отсутствие разрешительной документации на проведение ремонта кровли над 12 подъездом;<br />
    незаконное использование ТСЖ общего имущества;<br />
    парковка автотранспортных средств подрядных организаций во дворе дома.<br />
    Со всей ответственностью заявляем, что все указанные претензии являются элементарным и безосновательным наветом.</p>
    <p>По первому вопросу сообщаем, что по результату обследования ГУП «МосжилНИИпроект» от 2010 года выдано заключение о том, что кровля нашего дома находится в аварийном состоянии.</p>
    <p>В 2014 году был разработан проект ремонта кровли, который согласован Департаментом культурного наследия г. Москвы 27.11.2014 № ДКН-16-08-103/4-30.</p>
    <p>25.08.15 выдано разрешение Мосгорнаследия на производство работ по ремонту кровли.</p>
    <p>30 октября 2015 года ОАТИ г. Москвы выдан ордер (разрешение) на производство работ с установкой лесов.</p>
    <p>Для производства работ привлечена специализированная организация, имеющая лицензию на производство работ на объектах культурного наследия, выданную Министерством культуры РФ.</p>
{% endblock %}